<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Msgbrd (Redis + Flask)</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <!--[if gte IE 6]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="https://www.google.com/jsapi?key=ABQIAAAAU4sH-ANoZYDuUQUh74BGVRS66hiDIhltMtCVRnpY2a0eNbr-bhR_gPkq_sx5GIssGpM4iqkVtdZBtw" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <!-- <script src="/static/jquery.urlize.js"></script>-->
  <script type='text/javascript'>  
  var noMore = 0;
  var lock= 0;
  
  countChar = function() {
    $('#chars-left').html(140 - $("#textarea").val().length + '');
  };
  
  setInterval(countChar, 100);
  
  scrollCallback = function() {
    // has it scrolled to the bottom? and is there more data?
    if ($(this).scrollTop() == $(this).height() - $(window).height() && 
        noMore != 1 && lock != 1) {
      // show a nice spinner
      $("#loading img").fadeIn('fast');
      // get the last id
      n = $("ul").find("li[id|='msg']").length 
      // lock the ajax call so this cannot be called again until this one
      // is finished
      lock = 1;
      $.ajax({
        type: "GET",
        url: "/_get",
        data: "n=" + n,
        datatype: 'json',
        complete: function() {
          // stop the spinner
          $("#loading img").hide();
        },
        success: function(data) {
          if (data.msgs != null && data.msgs.length != 0) {
            for (var i=0; i<data.msgs.length; i++) {
              // clone a list item
              li = $("<li><span></span> <span></span></li>");
              // set its attribute
              li.attr('id', 'msg-'+data.msgs[i][0])
              // set its first span as the body
              li.find("span:first").text(data.msgs[i][1]);
              // set second span as the date
              li.find("span:last").html(data.msgs[i][2] + " GMT");
              // append to the list
              li.appendTo("ul");
            }
            lock = 0;
          } else {
            noMore = 1;
            p = $("<p>You got to the end, man!</p>");
            $("#loading").append(p);
          }
        }          
      }); // end ajax call
    }
  }
  
  $(document).ready(function() {
    // for ajax posting
    $("#button").click(function(e) {
      // make sure the textarea is not empty or more than 140 chars long
      msg = $("#textarea").val().trim();
      if ( msg === "" || msg.length > 140 ) {
        $("#textarea").focus();
        return false;
      }
      
      token = $('#token').val();
      if (token === "" ) {
        return false;
      }
      
      // start of ajax call, disable the button
      $(this).attr("disabled", true);
      // show a nice spinner
      $("form>img").fadeIn('fast');
      
      $.ajax({
        type: "POST",
        url: "/_post",
        data: "text=" + msg + "&token=" + token,
        datatype: 'json',
        error: function() {
          // error has occured 
        },
        complete: function() {
          // remove these restrictions when it's done
          $("#button").removeAttr("disabled");
          $("form>img").fadeOut('fast');
          $("#textarea").focus();
        },
        success: function(data) {
          // are there any messages before?
          if ($("ul").find("li[id|='msg']").length == 0) {
            // remove default message
            $("ul").find("li").remove();
          }
          // clone a list item
          li = $("<li><span></span> <span></span></li>");
          // set its attribute
          li.attr('id', 'msg-'+data.id)
          // set its first span as the body
          li.find("span:first").text(data.body);
          // set second span as the date
          li.find("span:last").html(data.date + " GMT");
          // now prepend it, hide it first, then slide it down
          li.hide();
          li.prependTo("ul");
          li.slideDown('fast');
          // lastly, clear the textbox
          $("#textarea").val('');
        }
      }); // end ajax call
      return false;
    });
    
    // for scrolling to the bottom and loading more
    $(document).scroll(scrollCallback);
    $("#textarea").focus();
    // check if there's no scrollbar...
    if ($(document).height() == $(window).height()) {
      scrollCallback();
    }
  });
  </script>  
</head>
<body>
  <section>
    <h1>Msgbrd (Redis + Flask)</h1>

    <!-- Message -->
    <p>
      <a href="http://redis.io">Redis</a> is a blazing-fast NoSQL database server. <a href="http://flask.pocoo.org/">Flask</a> is a Python microframework for making web applications. This is a Twitter-like message board powered by Redis and Flask. Code on <a href="https://github.com/kenkam/msgbrd">Github</a>.
    </p>
  
    <!-- Form -->
    <form id="form" action="/post" method="post" class="clearfix">
      <textarea id="textarea" name="text" cols="50" rows="2"></textarea>
      <input type="submit" value="Submit" id="button" />
      <input type="hidden" value="{{ token }}" id="token" name="token" />
      <p><span id="chars-left">140</span> characters remaining</p> 
      <img src="/static/spinner.gif" alt="Loading" />
    </form>
  
    <!-- Messages -->
    <h2>Recent messages (scroll for more)</h2>
    <ul>
    {% if texts is not none %}
    {% for id, text, date in texts %}
      <li id="msg-{{ id }}"><span>{{ text }}</span> <span>{{ date }} GMT</span></li>
    {% endfor %}
    {% else %}
      <li><span>No messages yet.</span></li>
    {% endif %}
    </ul>
    <div id="loading">
      <img src="/static/spinner.gif" alt="Loading" />
    </div>
  
    <footer>
      <p>Made by @<a href="http://twitter.com/kenkam">kenkam</a>. <a href="http://redis.io">Redis</a>, <a href="http://flask.pocoo.org/">Flask</a>, and <a href="http://jquery.com/">jQuery</a> are the best.</p>    
    </footer>
  </section>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29514628-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
